//Estilizar os componentes já originais do site
#content{
    background: @bg-color;
}
.site-content {
    margin-top: 0;
    padding-top: 1.5rem;

    @media (min-width: 782px){
        margin-top: 0;    
        padding-top: 4rem;    
    }
}
.wp-block-cover{
    margin-top: 4rem!important;
    margin-bottom: 4rem!important;
}
.wp-block-image {
    margin-top:4rem!important;

    .cp-prjt &{
        margin-top: 0!important;
    }
}


.post-template-single-feature h2,
.post-template-single-wide h2,
.single h2{
    color: @primary;
}

.post-template-single-feature p + h2,
.post-template-single-wide p + h2,
.single p + h2{
    margin-top: 4rem;
}

//.entry .entry-content > p + h2
.entry .entry-content > h2{
    margin-top: 4rem;
}

//Links
.post-template-single-feature .entry-content a, 
.post-template-single-wide .entry-content a, 
.single .entry-content a{
    color: @primary;
    &:hover{
        color: darken(@primary, 15%);
    }
    &:active, &:focus, &:visited{
        color: darken(@primary, 15%)!important;
    }
}

